*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-title {
  text-align: center;
}
.books-wrap {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
}
article {
  display: flex;
  justify-content: space-between;
  border: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}
article:nth-child(odd) {
  background: #ddd;
}
.book-title {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.remove {
  background: white;
  border-radius: 2px;
  padding: 0.125rem 0.2rem;
}
.underline {
  border: 2px solid black;
  width: 50px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.book-form {
  text-align: center;
}
.book-form ul {
  display: block;
  width: 70%;
  margin: 0 auto;
  list-style-type: none;
}
.book-form ul li {
  margin-top: 0.5rem;
  width: 100%;
}
.book-form input {
 border: 2px solid black;
 width: 100%;
}
.add-button {
  float: right;
  border: 2px solid black;
}